body {
    background-image: url("images/background.jpg");
    background-size: cover;   
    background-position: center;  
    background-repeat: no-repeat; 
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  html, body {
    cursor: url('images/leaf.png') 16 16, auto;
  }

  h1 {
    margin-top: 30px;
  }
  
  img {
    max-width: 90%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    position: relative;
    width: fit-content;
    margin: 40px auto;
  }
  
  .welcome-image {
    display: block;
    width: 100%;
    max-width: 500px;
  }
  
  .arrow-link {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    background: #4CAF50;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background 0.3s;
  }

  .arrow-link2 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    position: absolute;
    bottom: 20px;
    left: 75%;
    transform: translateX(-50%);
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    background: #4CAF50;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background 0.3s;
  }
  
  .arrow-link:hover {
    background: #388E3C;
  }

  .image-container {
    position: relative;
    width: fit-content;
    margin: 40px auto;
  }
  
  .cabin-image {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .click-box {
    position: absolute;
    cursor: pointer;
    background: rgba(255, 0, 0, 0); 
  }

  .click-box2 {
    position: absolute;
    cursor: pointer;
    background: rgba(255, 0, 0, 0); 
  }

  .box-scrubjays {
    top: 25%; left: 15%; width: 10%; height: 10%;
  }
  
  .box-bobcats {
    top: 20%; left: 34%; width: 10%; height: 10%;
  }
  
  .box-hawks {
    top: 25%; left: 56%; width: 10%; height: 10%;
  }
  
  .box-owl {
    top: 23%; left: 74%; width: 10%; height: 10%;
  }
  
  .box-raccoon {
    top: 55%; left: 2%; width: 10%; height: 10%;
  }
  
  .box-greyfox {
    top: 53%; left: 26%; width: 10%; height: 10%;
  }
  
  .box-quail {
    top: 51%; left: 51%; width: 10%; height: 10%;
  }
  
  .box-scorpions {
    top: 54%; left: 75%; width: 10%; height: 10%;
  }
  
  .box-bananaslug1 {
    top: 82%; left: 12%; width: 5%; height: 5%;
  }

  .box-bananaslug2 {
    top: 75%; left: 48%; width: 5%; height: 5%;
  }

  .box-bananaslug3 {
    top: 85%; left: 75%; width: 5%; height: 5%;
  }